html{
  height: 100%;
  overflow-y: hidden;
  margin:0;
  padding:0;
  overflow-x: hidden;
}
body {
  background: url(../img/hero-bg.jpg) top center;
  font-family: "Open Sans", sans-serif;
  margin:0;
  height: 100%;
  padding:0;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}



/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background:#000 url("/static/assets/img/preloader.gif") no-repeat center center;
}

#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  align-content: center;
  vertical-align: middle;
  /*background: url(../img/hero-bg.jpg) top center;
  background-size: cover;*/
}
@media (min-width: 1024px) {
  #hero {
    /*background-attachment: fixed;*/
  }
}
#hero .hero-logo {
  margin: 20px;
}
#hero .hero-logo img {
  max-width: 100%;
}
#hero .hero-container {
  background: rgba(0, 0, 0, 0.0);
  display: flex;
  height: 100vh;
  width:100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
#hero h2 {
  color: #ccc;
  margin-bottom: 50px;
}
#hero h2 span {
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid #03C4EB;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}
#hero .rotating > .animated {
  display: inline-block;
}
#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  transition: 0.5s;
  margin: 5px;
  border-radius: 99px;
  text-decoration: none;
}
#hero .btn-get-started {
  background: #8C4A2D;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 99px;
}
#hero .btn-get-started:hover {
  background: #E77D11;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 15px;
}
#hero .btn-services {
  border: 2px solid #fff;
  background: #8C4A2D;
  color: #fff;
  border-radius: 99px;
}
#hero .btn-services:hover {
  background: #E77D11;
  border: 2px solid #fff;
  border-radius: 15px;
}

#hero .social-icons .fa-solid, .social-icons .fa-brands{
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#8C4A2D;
    background:#fff;
    margin:35px 8px;
    cursor: pointer;
    transition: 0.2s;
}


.container-fluid{
        height: 100vh;
        width: 100%;
        position: fixed;
        margin: 0px;
        padding:0;
        top:0;
        left:0;
      }
.box {
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        position: fixed;
        padding:0;
      }
.overlay {
        width: 100%;
        height: 100vh;
        z-index: 1;
        margin: 0;
        padding: 0;
      }

}


