:root{
    --primary: #8C4A2D;
    --light: #EEEEEE;
    --dark: #212121;
    --primary-dark: #212121;
    --primary-light: #E77D11;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Fira sans',sans-serif;
}

body {
  background: url(/static/assets/img/hero-bg.jpg) top center;
  color: #fff;
  height: 100%;
  width: 100%;
}


.container {
    max-width: 1280px;
    margin:0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@font-face {
    font-family: "ACT";
    src: url("/static/layout/fonts/Gulzar-Regular.ttf");
}

nav{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:99;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 8px 8px;
    border-bottom: 0px solid var(--primary);
}

nav.sticky{
    background-color: #000;
}
h1{
    color:#FFF;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hamburger {
    display: block;
    position:relative;
    z-index: 1;
    user-select: none;
    appearance:none;
    border:none;
    outline: none;
    background: none;
    cursor:none;
}

.hamburger span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    z-index:1;
    tranform-origin: 0 0;
    transition: 0.4s;
}


.hamburger.is-active span:nth-child(1){
    transform:translate(0px, 9px) rotate(45deg);
    background-color: var(--primary);
}
.hamburger.is-active span:nth-child(2){
    transform:translate(15px);
    opacity: 0;
}
.hamburger.is-active span:nth-child(3){
    transform:translate(0px, -9px) rotate(-45deg);
    background-color: var(--primary);
}

.mobile-nav{
    position: fixed;
    left: 100%;
    top:0;
    width:100%;
    min-height:100vh;
    display: block;
    z-index:98;
    background: #000;
    opacity: 90%;
    margin-top: 80px;
    padding: 20px 10px;
    transition: 0.4s;
}

.mobile-nav.is-active{
    left:0;
}

.mobile-nav a{
        display: block;
        text-align: center;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 16px;
        padding:12px 16px;
        color: #FFF;
        text-decoration: none;
        font-weight: 400;
}

.mobile-nav a.is-active {
  color: var(--primary);
  font-weight: 800;
} 
.menu {
    display:none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a{
    color:#FFF;
    margin: 0 16px;
    font-weight:600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active{
    background-color: var(--primary);
}
.menu a.is-active:hover{
    background-color: var(--primary);
    color: #FFF;
}

.menu a:hover{
    color: #E77D11;
}

.menu a.login-button{
    background-color: #E77D11;
}

.menu a.login-button:hover{
    background-color: var(--primary);
    color:#FFF;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(0, 0, 0, 0.0) url("/static/assets/img/preloader.gif") no-repeat center center;
}

.main-container{
    position: relative;
    width: 100%;
    min-height: 60vh;
    text-align: center;
    align-items: center;
    display: flex;
    margin:20px auto;
    padding: 20px;
}
footer{
    width: 100%;
    postion: absolute;
    bottom: 0;
    background:linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 50px;
    border-top-left-radius: 100px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.logo{
    width: 250px;
    margin-bottom: 30px;
    text-align: center;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;

}

.email{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin:20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;

}

ul li a{
    font-family: ACT;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.social-icons .fa-solid, .social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color:#000;
    background:#fff;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

 .col:nth-child(3){
    flex-basis: 15%;
}
.col:nth-child(4){
    align-items: center;
    vertical-align: middle;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite; 
}

@keyframes moving{
    0%{
        left:-20px;
    }
    100%{
        left: 100px;
    }
}

@media (min-width: 768px){
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}

@media (max-width: 768px){
    .col{
        flex-basis: 100%;
        margin-bottom:10px;
    }
}

.form-style-10{
    width:450px;
    padding:40px;
    margin:100px auto;
    background: transparent;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    opacity: 80%;
    border-radius: 6px;
    margin-bottom: 35px;
}
.form-style-10 h1{
    background: var(--primary);
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #fff;
}
.form-style-10 h1 > span{
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
    display: block;
    font: 15px Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #000;
    margin-bottom: 20px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid var(--primary);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 input[type="checkbox"]{
    padding: 8px;
    border-radius: 6px;
    margin: 0px 8px;
}

.form-style-10 .section{
    color: #fff;
    margin-bottom: 20px;
}
.form-style-10 .section span {
    background: var(--primary);
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -10px;
}
.form-style-10 input[type="button"], 
.form-style-10 input[type="submit"]{
    background: var(--primary);
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset` 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.form-style-10 input[type="button"]:hover, 
.form-style-10 input[type="submit"]:hover{
    background: var(--primary-light);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    margin-top: 10px;
    text-align: right;
}