{% extends "header.html" %}
{% load static %}
{% block menu_events_class %}is-active{% endblock %}
{% block menu_events_class1 %}is-active{% endblock %}
{% block content %}
    <h1 class="headingh1"> Events <div class="underline"><span></span></h1>
    <div class="eventscontainer">
        <div class="eventitema">
            <!--<h2 class="headingh2">Amphibot</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Arduino 2.0</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Astro ABC</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Astronomia</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Astroreflections</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Black Box</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Bletchley Park</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">C-Cubed</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div><div class="eventitema">
            <!--<h2 class="headingh2">CAD</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Circuiter</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Cosmic Clash</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Dronetrix</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div><div class="eventitema">
            <!--<h2 class="headingh2">Enigma</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Hangover</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">How Adam Did It</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Image-In</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div><div class="eventitema">
            <!--<h2 class="headingh2">Junkyard Wars</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Line Follower</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Logic Circuit Design</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Machinist</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div><div class="eventitema">
            <!--<h2 class="headingh2">Mathematrix</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Night Sky Hunt</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Online Gaming</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">PanchaMantra</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div><div class="eventitema">
            <!--<h2 class="headingh2">PhyKnight</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Physics Quiz</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">R.C. Car GrandPrix</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">R.C. Plane</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div><div class="eventitema">
            <!--<h2 class="headingh2">Tarang</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">TechWiz</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Tech Glide</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">War of Bots</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitema">
            <!--<h2 class="headingh2">Water Rocket</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
        <div class="eventitemb">
            <!--<h2 class="headingh2">Webbed</h2>-->
            <img class="poster" src="/static/assets/img/eventsposter.png">
            <a href="#" class="eventsbutton">Know More</a>
        </div>
    </div>
{% endblock %}