<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conscientia</title>
    <link href="{% static '/assets/img/favicon.png'%}" rel="icon">
    <link rel="stylesheet" href="{% static '/layout/header.css'%}">
    <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="header">
      <nav>
        <div class="container">
          <img src="/static/logo_web1.png" alt="" style="height: 40px; margin:0px; padding:0px">
          <div class="menu">
            <a href="/home" class="{% block menu_home_class %}{% endblock %}">Home</a>
            <a href="/about" class="{% block menu_about_class %}{% endblock %}">About</a>
            <a href="/events" class= "{% block menu_events_class %}{% endblock %}">Events</a>
            <a href="/contact" class="{% block menu_contact_class %}{% endblock %}">Contact</a>
            <a href="/register" class="{% block menu_register_class %}{% endblock %}">Register</a>
            <a href="login" class="login-button">Login</a>
          </div>
          <button class="hamburger">
          <span></span>
          <span></span>
          <span></span>
          </button>
        </div>
      </nav>
      <nav class="mobile-nav">
        <a href="/home" class="{% block menu_home_class1 %}{% endblock %}">Home</a>
        <a href="/about" class="{% block menu_about_class1 %}{% endblock %}">About</a>
        <a href="/events" class= "{% block menu_events_class1 %}{% endblock %}">Events</a>
        <a href="/register" class="{% block menu_register_class1 %}{% endblock %}">Register</a>
        <a href="/contact" class="{% block menu_contact_class1 %}{% endblock %}">Contact</a>
        <a href="/login" class="login-button">Login</a>
      </nav>
      </header><!-- /header -->
      <main>
        <div class="main-container">
          {% block content %}
          {% endblock %}
        </div>
      </main>
      <footer>
        <div class="row">
          <div class="col">
            <img src="/static/logo_web.png" class="logo">
            <p>Conscientia is an annual technical and astronomical festival organized by IIST.</p>
            
          </div>
          <div class="col">
            <h3>Visit Us <div class="underline"><span></span></div></h3>
            <p>Indian Institute of Space Science and Technology</p>
            <p>Valiamala, Trivandrum</p>
            <p>Kerela, PIN-695547, India</p>
            <p class="email">conscientia@iist.ac.in</p>
          </div>
          <div class="col">
            <h3> Links <div class="underline"><span></span></div></h3>
            <ul>
              <li><a href="/home">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/events">Events</a></li>
              <li><a href="/register">Register</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div>
          <div class="col">
            <h3> Reach us <div class="underline"><span></span></div></h3>
            <div class="social-icons">
              <a href="#"><i class="fa-solid fa-envelope"></i></a>
              <a href="https://www.facebook.com/Conscientia.iist"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/conscientia.iist/"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UCwgcWo-ash4KC4z8_5e9Haw"><i class="fa-brands fa-youtube"></i></a>
            </div>
            
          </div>
        </div>
        <hr>
        <p class="copyright">Conscientia 2022 - All Rights Reserved</p>
      </footer>
      <div class="spinner-wrapper">
        <div class="loginposter"><img class="preloaderimage" src="/static/assets/img/favicon.png">
        </div>
        <div class="spinner">
          <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
          </div>
        </div>
      </div>
      <script src="static/layout/header.js"></script>
    </body>
  </html>