{% extends "header.html" %}
{% load static %}
{% block menu_home_class %}is-active{% endblock %}
{% block menu_home_class1 %}is-active{% endblock %}
{% block content %}
    <h1 class="headingh1">Welcome to Conscientia 2k22 !</h1>
    <div class="homecontainer">
        <div class="rowcontainer">
            <div class="themesectiona">
                <h2 class="headingh2">- Theme:2022 Edition - </h2>
            </div>
            <div class="themesectionb">
                <h2>Space Voyage</h2>
            </div>
        </div>
        <div class="rowcontainer">
            <div class="themesectionb">
                <h2 class="headingh2">- Tagline:2022 Edition - </h2>
            </div>
            <div class="themesectiona">
                <h2>#Suit_Up_Vyomnauts</h2>
            </div>
        </div>
    </div>
{% endblock %}