<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Conscientia</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href='{% static "assets/vendor/aos/aos.css"%}' rel="stylesheet">
    <link href='{% static "assets/vendor/bootstrap/css/bootstrap.min.css"%}' rel="stylesheet">
    <link href='{% static "/assets/vendor/bootstrap-icons/bootstrap-icons.css"%}' rel="stylesheet">
    <link href='{% static "/assets/vendor/glightbox/css/glightbox.min.css"%}' rel="stylesheet">
    <link href='{% static "/assets/vendor/swiper/swiper-bundle.min.css"%}' rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href='{% static "/assets/css/style.css"%}' rel="stylesheet">
    <!-- =======================================================
    * Template Name: Imperial - v5.7.0
    * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
  </head>
  <body>
    <!--<div class="row mx-0 my-0 py-0">
      <div class="col px-0 mx-0 my-0 py-0">
        <section id="hero">
          <div class="hero-container">
            <div data-aos="fade-in">
              <div class="hero-logo">
                <img class="" src="static/logo_web.png" alt="Conscientia">
              </div>
              <div class="actions">
                <a href="#about" class="btn-get-started">Register</a>
                <a href="/events" class="btn-services">Events</a>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col px-0 mx-0 my-0 py-0">
        <iframe src='https://my.spline.design/untitled-bb50c05495672bb281e6d7132a1f1fac/' style="width:100% ; height:100vh; border:none;"></iframe>
      </div>
    </div>-->
    <div class="container-fluid">
      <div class="box">
        <iframe class='myiframe' src='https://my.spline.design/untitled-bb50c05495672bb281e6d7132a1f1fac/'></iframe>
      </div>
      <div class="box overlay">
        <section id="hero">
          <div class="hero-container">
            <div data-aos="fade-in">
              <div class="hero-logo">
                <img class="" src="static/logo_web.png" alt="Conscientia">
              </div>
              <div class="actions">
                <a href="#about" class="btn-get-started">Register</a>
                <a href="/events" class="btn-services">Events</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>
</body>
</html>