{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Conscientia</title>
        <link href='{% static "/assets/css/index.css"%}' rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="box">
                <script src="static/assets/js/three.js"></script>
                <script type="module" src="/static/assets/js/index3d.js"></script></script>
            </div>
            <div class="box overlay">
                <section id="hero">
                    <div class="hero-container">
                        <div>
                            <div class="hero-logo">
                                <img class="" src="static/logo_web.png" alt="Conscientia">
                            </div>
                        </div>
                        <div>
                            <div class="actions">
                                <a href="/register" class="btn-get-started">Register</a>
                                <a href="/events" class="btn-services">Events</a>
                            </div>
                        </div>
                        <div>
                            <div class="social-icons">
                            <a href="#"><i class="fa-solid fa-envelope"></i></a>
                            <a href="https://www.facebook.com/Conscientia.iist"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.instagram.com/conscientia.iist/"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.youtube.com/channel/UCwgcWo-ash4KC4z8_5e9Haw"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </section>
            </div>
        </div>
    </div>
    <div id="preloader"></div>
    <script src="static/assets/js/main.js"></script>
</body>
</html>