<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conscientia</title>
    <link href="{% static '/assets/img/favicon.png'%}" rel="icon">
    <link rel="stylesheet" href="{% static '/layout/header.css'%}">
    <script src="https://kit.fontawesome.com/9dde0b24ee.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Lato&family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="spinner-wrapper">
      <div class="loginposter"><img class="preloaderimage" src="/static/assets/img/favicon.png">
      </div>
      <div class="spinner">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div>
    <script src="static/layout/header.js"></script>
  </body>
</html>