{% extends "header.html" %}
{% load static %}
{% block menu_register_class %}is-active{% endblock %}
{% block menu_register_class1 %}is-active{% endblock %}
{% block content %}
    <div class="formcontainer">
        <div class="loginposter">
            <img class="loginimage" src="/static/assets/img/register.png">
        </div>
        <div class="form">
            <h1 class="headingh1">Register</h1>
            <p class="formp">Register yourself for Conscientia 2k22 and participate in the various events and workshops.</p>
            <div class="formgroup">
                <input type="text" id="name" class="forminput" autocomplete="off" placeholder="&#xf007">
                <label for="name" class="formlabel">Name</label>
            </div>
            <div class="formgroup">
                <input type="text" id="email" class="forminput" autocomplete="off" placeholder="&#xf0e0">
                <label for="email" class="formlabel">Email</label>
            </div>
            <div class="formgroup">
                <input type="text" id="password" class="forminput" autocomplete="off" placeholder="&#xf084">
                <label for="password" class="formlabel">Password</label>
            </div>
            <button class="signup">
            Proceed
            </button>
        </div>
    </div>
{% endblock %}